.vscode
*/playground-key.pem
*/playground-key.pub
*/terraform.tfstate.backup
*/.terraform.lock.hcl
*/.terraform
*/terraform.tfstate
*/.terraform.tfstate.lock.info


*/*/playground-key.pem
*/*/playground-key.pub
*/*/terraform.tfstate.backup
*/*/.terraform.lock.hcl
*/*/.terraform
*/*/terraform.tfstate
*/*/.terraform.tfstate.lock.info